@import url('fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

body {
  @apply text-[#161616] bg-dsfr-beige;
}

.markdown {
  h2 {
    @apply text-2xl font-semibold mt-6 mb-4;
  }
  a {
    @apply text-blue-500 underline;
  }
  ul {
    @apply list-disc pl-6;
    li {
      @apply text-lg leading-7;
      &:not(:last-child) {
        @apply mb-4 ;
      }
    }
  }
  p {
    @apply text-lg leading-7;
    &:not(:last-child) {
      @apply mb-4 ;
    }
  }

}

.fresques-clip-path {
  @screen lg {
    clip-path: polygon(100% 96.703%,100% 10.742%,100% 10.742%,99.97% 10.228%,99.882% 9.739%,99.741% 9.281%,99.552% 8.859%,99.319% 8.48%,99.046% 8.151%,98.738% 7.877%,98.399% 7.665%,98.034% 7.521%,97.647% 7.451%,2.647% 0.095%,2.647% 0.095%,2.224% 0.109%,1.82% 0.213%,1.442% 0.398%,1.095% 0.659%,0.785% 0.988%,0.518% 1.376%,0.3% 1.818%,0.137% 2.305%,0.035% 2.83%,0% 3.386%,0% 96.703%,0% 96.703%,0.033% 97.238%,0.127% 97.745%,0.279% 98.218%,0.482% 98.65%,0.732% 99.034%,1.024% 99.364%,1.351% 99.632%,1.71% 99.832%,2.094% 99.957%,2.5% 100%,97.5% 100%,97.5% 100%,97.906% 99.957%,98.29% 99.832%,98.649% 99.632%,98.977% 99.364%,99.268% 99.034%,99.518% 98.65%,99.721% 98.218%,99.873% 97.745%,99.967% 97.238%,100% 96.703% );
  }
}

.testimonials-clip-path {
  @screen lg {
    clip-path: polygon( 0% 95.234%,0% 7.417%,0% 7.417%,0.064% 6.682%,0.249% 5.984%,0.546% 5.331%,0.945% 4.732%,1.437% 4.197%,2.01% 3.734%,2.657% 3.352%,3.367% 3.062%,4.13% 2.871%,4.937% 2.79%,94.733% 0.155%,94.733% 0.155%,95.581% 0.193%,96.387% 0.352%,97.141% 0.622%,97.832% 0.994%,98.447% 1.456%,98.976% 1.999%,99.407% 2.613%,99.729% 3.288%,99.93% 4.014%,100% 4.782%,100% 92.877%,100% 92.877%,99.936% 93.613%,99.75% 94.313%,99.451% 94.967%,99.051% 95.567%,98.557% 96.103%,97.981% 96.566%,97.332% 96.946%,96.62% 97.236%,95.855% 97.425%,95.046% 97.504%,5.25% 99.862%,5.25% 99.862%,4.404% 99.821%,3.6% 99.66%,2.848% 99.389%,2.16% 99.017%,1.547% 98.555%,1.02% 98.012%,0.591% 97.399%,0.27% 96.725%,0.069% 96%,0% 95.234% );
  }
}

.chiffres-clip-path {
  @screen lg {
    clip-path: polygon(
      97.429% 99.791%,
      2.429% 92.077%,
      2.429% 92.077%,
      2.032% 91.955%,
      1.657% 91.663%,
      1.308% 91.217%,
      0.99% 90.63%,
      0.707% 89.915%,
      0.465% 89.089%,
      0.269% 88.163%,
      0.123% 87.153%,
      0.031% 86.073%,
      0% 84.937%,
      0% 7.143%,
      0% 7.143%,
      0.033% 5.984%,
      0.127% 4.885%,
      0.279% 3.86%,
      0.482% 2.924%,
      0.732% 2.092%,
      1.024% 1.378%,
      1.351% 0.797%,
      1.71% 0.364%,
      2.094% 0.093%,
      2.5% 0%,
      97.5% 0%,
      97.5% 0%,
      97.906% 0.094%,
      98.29% 0.364%,
      98.649% 0.797%,
      98.977% 1.378%,
      99.268% 2.092%,
      99.518% 2.924%,
      99.721% 3.86%,
      99.873% 4.885%,
      99.967% 5.984%,
      100% 7.143%,
      100% 92.651%,
      100% 92.651%,
      99.966% 93.832%,
      99.868% 94.95%,
      99.711% 95.99%,
      99.5% 96.936%,
      99.242% 97.773%,
      98.942% 98.486%,
      98.605% 99.06%,
      98.237% 99.479%,
      97.843% 99.728%,
      97.429% 99.791%
    );
  }
  
}

.jva-clip-path {
  @screen lg {
    clip-path: polygon(
              100% 94.34%,
              100% 13.031%,
              100% 13.031%,
              99.969% 12.134%,
              99.878% 11.281%,
              99.733% 10.483%,
              99.538% 9.751%,
              99.298% 9.097%,
              99.017% 8.531%,
              98.701% 8.065%,
              98.354% 7.709%,
              97.981% 7.475%,
              97.586% 7.373%,
              2.586% 0.012%,
              2.586% 0.012%,
              2.17% 0.057%,
              1.774% 0.251%,
              1.404% 0.58%,
              1.065% 1.033%,
              0.763% 1.598%,
              0.503% 2.263%,
              0.291% 3.014%,
              0.133% 3.84%,
              0.034% 4.729%,
              0% 5.669%,
              0% 94.34%,
              0% 94.34%,
              0.033% 95.258%,
              0.127% 96.129%,
              0.279% 96.941%,
              0.482% 97.683%,
              0.732% 98.342%,
              1.024% 98.908%,
              1.351% 99.368%,
              1.71% 99.711%,
              2.094% 99.926%,
              2.5% 100%,
              97.5% 100%,
              97.5% 100%,
              97.906% 99.926%,
              98.29% 99.711%,
              98.649% 99.368%,
              98.977% 98.908%,
              99.268% 98.342%,
              99.518% 97.683%,
              99.721% 96.941%,
              99.873% 96.129%,
              99.967% 95.258%,
              100% 94.34%
            );
  }
}

