@import url('fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

body {
  @apply text-[#161616] bg-dsfr-beige overflow-x-hidden backdrop-blur-sm;
}

.markdown {
  h2 {
    @apply text-2xl font-semibold mt-6 mb-4;
  }
  a {
    @apply text-blue-500 underline;
  }
  ul {
    @apply list-disc pl-6;
    li {
      @apply text-lg leading-7;
      &:not(:last-child) {
        @apply mb-4;
      }
    }
  }
  p {
    @apply text-lg leading-7;
    &:not(:last-child) {
      @apply mb-4;
    }
  }
}

.jva-blue-clip-path {
  clip-path: polygon(
    96.079% 5.457%,
    4.413% 0.129%,
    4.413% 0.129%,
    3.708% 0.146%,
    3.035% 0.274%,
    2.404% 0.505%,
    1.825% 0.828%,
    1.309% 1.236%,
    0.864% 1.718%,
    0.501% 2.266%,
    0.229% 2.871%,
    0.059% 3.523%,
    0% 4.214%,
    0% 95.78%,
    0% 95.78%,
    0.055% 96.444%,
    0.212% 97.074%,
    0.465% 97.661%,
    0.804% 98.197%,
    1.22% 98.674%,
    1.706% 99.083%,
    2.252% 99.415%,
    2.85% 99.664%,
    3.491% 99.819%,
    4.167% 99.872%,
    95.833% 99.872%,
    95.833% 99.872%,
    96.509% 99.819%,
    97.15% 99.664%,
    97.748% 99.415%,
    98.294% 99.083%,
    98.78% 98.674%,
    99.196% 98.197%,
    99.535% 97.661%,
    99.788% 97.074%,
    99.945% 96.444%,
    100% 95.78%,
    100% 9.542%,
    100% 9.542%,
    99.95% 8.905%,
    99.804% 8.298%,
    99.569% 7.729%,
    99.254% 7.206%,
    98.865% 6.736%,
    98.411% 6.327%,
    97.897% 5.987%,
    97.333% 5.724%,
    96.724% 5.544%,
    96.079% 5.457%
  );
}

.fresque-show-clip-path {
  @screen lg {
    clip-path: polygon(
      97.98% 100%,
      2.02% 100%,
      2.02% 100%,
      1.693% 99.971%,
      1.382% 99.887%,
      1.092% 99.754%,
      0.827% 99.574%,
      0.592% 99.354%,
      0.39% 99.096%,
      0.225% 98.807%,
      0.103% 98.491%,
      0.026% 98.151%,
      0% 97.793%,
      0% 2.213%,
      0% 2.213%,
      0.029% 1.84%,
      0.112% 1.487%,
      0.244% 1.16%,
      0.421% 0.864%,
      0.638% 0.604%,
      0.889% 0.384%,
      1.171% 0.21%,
      1.478% 0.086%,
      1.805% 0.018%,
      2.148% 0.01%,
      98.107% 6.637%,
      98.107% 6.637%,
      98.419% 6.685%,
      98.713% 6.783%,
      98.985% 6.925%,
      99.233% 7.109%,
      99.453% 7.329%,
      99.64% 7.583%,
      99.792% 7.864%,
      99.905% 8.171%,
      99.976% 8.497%,
      100% 8.84%,
      100% 97.793%,
      100% 97.793%,
      99.974% 98.151%,
      99.897% 98.491%,
      99.775% 98.807%,
      99.61% 99.096%,
      99.408% 99.354%,
      99.173% 99.574%,
      98.908% 99.754%,
      98.618% 99.887%,
      98.307% 99.971%,
      97.98% 100%
    );
  }
}

.fresques-clip-path {
  @screen lg {
    clip-path: polygon(
      100% 96.703%,
      100% 10.742%,
      100% 10.742%,
      99.97% 10.228%,
      99.882% 9.739%,
      99.741% 9.281%,
      99.552% 8.859%,
      99.319% 8.48%,
      99.046% 8.151%,
      98.738% 7.877%,
      98.399% 7.665%,
      98.034% 7.521%,
      97.647% 7.451%,
      2.647% 0.095%,
      2.647% 0.095%,
      2.224% 0.109%,
      1.82% 0.213%,
      1.442% 0.398%,
      1.095% 0.659%,
      0.785% 0.988%,
      0.518% 1.376%,
      0.3% 1.818%,
      0.137% 2.305%,
      0.035% 2.83%,
      0% 3.386%,
      0% 96.703%,
      0% 96.703%,
      0.033% 97.238%,
      0.127% 97.745%,
      0.279% 98.218%,
      0.482% 98.65%,
      0.732% 99.034%,
      1.024% 99.364%,
      1.351% 99.632%,
      1.71% 99.832%,
      2.094% 99.957%,
      2.5% 100%,
      97.5% 100%,
      97.5% 100%,
      97.906% 99.957%,
      98.29% 99.832%,
      98.649% 99.632%,
      98.977% 99.364%,
      99.268% 99.034%,
      99.518% 98.65%,
      99.721% 98.218%,
      99.873% 97.745%,
      99.967% 97.238%,
      100% 96.703%
    );
  }
}

.testimonials-clip-path {
  @screen lg {
    clip-path: polygon(
      0% 95.169%,
      0% 9.414%,
      0% 9.414%,
      0.062% 8.658%,
      0.243% 7.939%,
      0.532% 7.264%,
      0.921% 6.645%,
      1.401% 6.089%,
      1.962% 5.606%,
      2.594% 5.206%,
      3.29% 4.897%,
      4.04% 4.688%,
      4.833% 4.59%,
      94.629% 0.107%,
      94.629% 0.107%,
      95.489% 0.132%,
      96.309% 0.287%,
      97.077% 0.562%,
      97.781% 0.945%,
      98.409% 1.427%,
      98.95% 1.995%,
      99.392% 2.641%,
      99.722% 3.353%,
      99.928% 4.12%,
      100% 4.931%,
      100% 95.169%,
      100% 95.169%,
      99.933% 95.953%,
      99.74% 96.696%,
      99.431% 97.389%,
      99.016% 98.022%,
      98.506% 98.585%,
      97.911% 99.068%,
      97.243% 99.461%,
      96.511% 99.754%,
      95.726% 99.937%,
      94.898% 100%,
      5.102% 100%,
      5.102% 100%,
      4.274% 99.937%,
      3.489% 99.754%,
      2.757% 99.461%,
      2.089% 99.068%,
      1.494% 98.585%,
      0.984% 98.022%,
      0.569% 97.389%,
      0.26% 96.696%,
      0.067% 95.953%,
      0% 95.169%
    );
  }
}

.chiffres-clip-path {
  @screen lg {
    clip-path: polygon(
      97.429% 99.791%,
      2.429% 92.077%,
      2.429% 92.077%,
      2.032% 91.955%,
      1.657% 91.663%,
      1.308% 91.217%,
      0.99% 90.63%,
      0.707% 89.915%,
      0.465% 89.089%,
      0.269% 88.163%,
      0.123% 87.153%,
      0.031% 86.073%,
      0% 84.937%,
      0% 7.143%,
      0% 7.143%,
      0.033% 5.984%,
      0.127% 4.885%,
      0.279% 3.86%,
      0.482% 2.924%,
      0.732% 2.092%,
      1.024% 1.378%,
      1.351% 0.797%,
      1.71% 0.364%,
      2.094% 0.093%,
      2.5% 0%,
      97.5% 0%,
      97.5% 0%,
      97.906% 0.094%,
      98.29% 0.364%,
      98.649% 0.797%,
      98.977% 1.378%,
      99.268% 2.092%,
      99.518% 2.924%,
      99.721% 3.86%,
      99.873% 4.885%,
      99.967% 5.984%,
      100% 7.143%,
      100% 92.651%,
      100% 92.651%,
      99.966% 93.832%,
      99.868% 94.95%,
      99.711% 95.99%,
      99.5% 96.936%,
      99.242% 97.773%,
      98.942% 98.486%,
      98.605% 99.06%,
      98.237% 99.479%,
      97.843% 99.728%,
      97.429% 99.791%
    );
  }
}

.jva-clip-path {
  @screen lg {
    clip-path: polygon(
      100% 94.34%,
      100% 13.031%,
      100% 13.031%,
      99.969% 12.134%,
      99.878% 11.281%,
      99.733% 10.483%,
      99.538% 9.751%,
      99.298% 9.097%,
      99.017% 8.531%,
      98.701% 8.065%,
      98.354% 7.709%,
      97.981% 7.475%,
      97.586% 7.373%,
      2.586% 0.012%,
      2.586% 0.012%,
      2.17% 0.057%,
      1.774% 0.251%,
      1.404% 0.58%,
      1.065% 1.033%,
      0.763% 1.598%,
      0.503% 2.263%,
      0.291% 3.014%,
      0.133% 3.84%,
      0.034% 4.729%,
      0% 5.669%,
      0% 94.34%,
      0% 94.34%,
      0.033% 95.258%,
      0.127% 96.129%,
      0.279% 96.941%,
      0.482% 97.683%,
      0.732% 98.342%,
      1.024% 98.908%,
      1.351% 99.368%,
      1.71% 99.711%,
      2.094% 99.926%,
      2.5% 100%,
      97.5% 100%,
      97.5% 100%,
      97.906% 99.926%,
      98.29% 99.711%,
      98.649% 99.368%,
      98.977% 98.908%,
      99.268% 98.342%,
      99.518% 97.683%,
      99.721% 96.941%,
      99.873% 96.129%,
      99.967% 95.258%,
      100% 94.34%
    );
  }
}

/* .noise:before {
  content: '';
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 500px;
  opacity: 0.4;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
} */

.noise {
  background-image: url('/images/grain.svg');
}
